* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(8, 8, 8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-content{
  background-color: rgb(5, 5, 5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: auto;
}

.logo img {
  height: 50px;
  width: auto;
  padding: 5px; 
}

.navList {
  list-style-type: none;
  display: flex;
  padding: 15px;
}

.navItem {
  margin-right: 20px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 0px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: black;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;

}
.button-container {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #000307;
}

#banner {
  margin-top: 50px;
  min-height: 100vh;
  display: contents;
  
  align-items: center;
}

.banner-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}
.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.section-image {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.section-image .image-container {
  margin: 20px; 
  position: relative;
  max-width: 1500px;
  margin-bottom: 0; 
}

.section-image .image-container img {
  width: 500px;
  height: auto; 
  max-height: 100%; 
  object-fit: cover;
}

.section-image .card-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 60px;
}

.section-image .card-content h2 {
  margin-top: 0;
  font-size: 6em;
}
footer {
  background-color: rgb(8, 8, 8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-all {
  background-color: rgb(5, 5, 5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: auto;
}

.Footer-logo img {
  height: 50px;
  width: auto; 
  padding: 5px; 

}
.footer-links a {
  color: white;
  font-weight: bold;
}


.footer-links ul {
  color: white;
  text-align: center;
  list-style-type: none;
  display: flex;
  margin-left: 20px;
  margin-right: 50px;
  text-decoration: none;
}

.footer-links li {
  list-style-type: none;
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navItem:last-child {
    margin-bottom: 0;
  }

  .form {
    max-width: 90%;
  }

  #banner {
    height: 150px;
  }

  .banner-item img {
    height: 150px;
  }

  .card-content {
    top: 15%;
    font-size: 1em;
  }

  .section-image {
    min-height: 100vh;
    flex-direction: column;
  }

  .section-image .image-container img {
    height: 350px;
    width: 380px;
  }

  .section-image .card-content {
    top: 30%;
    font-size: 1em;
  }

  footer {
    flex-direction: column;
    padding: 10px;
    bottom: 0; 
    width: 100%; 
    background-color: rgb(8, 8, 8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
  }

  .footer-all {
    flex-direction: column;
  }

  .footer-links ul {
    flex-direction: column;
    margin-left: 24px;
    margin-right: 0;
  }

  .social-icons {
    justify-content: center;
  }
}


