* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(8, 8, 8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-content{
  background-color: rgb(5, 5, 5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: auto;
}

.logo img {
  height: 50px;
  width: auto;
  padding: 5px; 
}

.navList {
  list-style-type: none;
  display: flex;
  padding: 15px;
}

.navItem {
  margin-right: 20px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}


#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
  min-height: 100vh;
  position: content; 
  
}

.banner-item img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  max-width: 1500px;
}

.card-content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
}

.section-image {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: auto;
 
  min-height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.section-image .image-container {
 
  margin: auto; 
  position: relative;
  max-width: 1500px;
}

.section-image .image-container img {
  width: 500px;
  height: auto; 
  max-height: 100%; 
  object-fit: cover;
 
}

.section-image .card-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 30px;
  
}

.section-image .card-content h2 {
  margin-top: 0;
  font-size: 6em;
}
footer {
  background-color: rgb(8, 8, 8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-all {
  background-color: rgb(5, 5, 5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: auto;
}

.Footer-logo img {
  height: 50px;
  width: auto; 
  padding: 5px; 

}
.footer-links a {
  color: white;
  font-weight: bold;
}


.footer-links ul {
  color: white;
  text-align: center;
  list-style-type: none;
  display: flex;
  margin-left: 20px;
  margin-right: 50px;
  text-decoration: none;
}

.footer-links li {
  list-style-type: none;
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navList {
      margin-top: 10px;
      margin-bottom: 15px;
      flex-direction: column;
    }
  
    .navItem {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navItem:last-child {
      margin-bottom: 0;
    }
  
    main {
      padding: 1rem;
    }
  
    #banner {
      height: 200px; 
      margin-top: 20px; 
    }
  
    .banner-item img {
      height: 200px;  
    }
  
    .card-content {
      top: 70%;
      padding: 10px; 
      font-size: 1.5em; 
    }
  
    .section-image {
      min-height: 50vh; 
    }
  
    .section-image .image-container img {
      height: 200px; 
    }
  
    .section-image .card-content {
      top: 40%; 
      padding: 10px; 
      font-size: 1.5em; 
    }
  
    footer {
      flex-direction: column;
      padding: 20px;
      text-align: center;
    }
  
    .footer-all {
      flex-direction: column;
    }
  
    .footer-links ul {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
  
    .social-icons {
      justify-content: center;
    }
  
}  


