* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px 20px; 
  position: relative;
}

.logo img {
  height: 50px;
  width: auto;
  padding: 0px; 
}

.navList {
  list-style-type: none;
  display: flex;
}

.navItem {
  margin-right: 20px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}



#banner {
  margin-top: 50px;
  min-height: 100vh;
  display: contents;
  
  align-items: center;
}

.banner-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.section-image {
  margin-top: 50px;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.section-image .image-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section-image .image-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.section-image .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.section-image .card-content h2 {
  margin-top: 0;
}


footer {
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-all {
  background-color: rgb(5, 5, 5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: auto;
}

.Footer-logo img {
  height: 50px;
  width: auto; 
  padding: 5px; 

}
.footer-links a {
  color: white;
  font-weight: bold;
}


.footer-links ul {
  color: white;
  text-align: center;
  list-style-type: none;
  display: flex;
  margin-left: 20px;
  margin-right: 50px;
  text-decoration: none;
}

.footer-links li {
  list-style-type: none;
  color: white;
  margin-right: 30px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .navList {
    margin-bottom: 15px;
  }

  #banner {
    height: 300px;
  }
  .section-image {
    min-height: 50vh;
  }

  .section-image .image-container img {
    height: 300px;
  }

  .section-image .card-content {
    bottom: 50px;
  }

}
