
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#banner {
  display: contents;
}
.swiper-button-next:after {
  color:white;
}
.swiper-button-prev:after {
  color: white;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: white;
}
