
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  display: contents;;
}
.section-image .card-content {
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
 
  .nav-content {
   
    
    padding: 1rem;
  }
  .section-image {
   
    flex-direction: column;
  }

  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    transform: translateY(-50%);
    
  }

  .burger-line {
    width: 30px;
    height: 2px;
    background: #eeebeb; 
  
  }
  .navList {
    display: none;
    top: 9%;
    flex-direction: column;
   
    list-style-type: none;
    padding: 0;
    right: -15px;
    background-color: #070707;
    position: absolute;
    z-index: 1000;
    transform: translateX(0%);
    width: 100%;
    height: 180px;
     
  }

  .showNav {
    display: flex; 
  }

  .navItem {
    padding: 1rem 0;
    margin-left: 15px;
    
  }

  


}

